<h1>Welcome to your profile page <%=@user.name%></h1>

<h2> SEARCH FOR A VIDEO </h2>
<div>
    <%= form_tag "/users/#{@user.id}/videos/search", :method => "get" do %>
      <div> <%=label_tag :search, nil %> </div>
      <div><%=text_field_tag :search %></div>
      <div><%=submit_tag "Search", :name => nil %></div>
      <%end%>
</div>

<h2> CREATE A VIDEO!! </h2>


<div>
  <%= form_tag "/users/#{@user.id}/videos", :method => "post" do %>
    <%=label_tag :title, nil %>
    <%=text_field_tag :title %>

    <%=label_tag :description, nil %>
    <%=text_field_tag :description %>

    <%=label_tag :youtube_id, "Youtube ID" %>
    <%=text_field_tag :youtube_id %>

    <%=submit_tag "Create Video" %>
  <%end%>
</div>

<div>
  <%=link_to("Show All My Videos", "/users/#{@user.id}/videos")%>
</div>
