










<div id="wrap">

 
<header class="masthead">

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <!-- Indicators -->
     
      <div class="carousel-inner">
        <div class="item active">
          <img src="http://images4.alphacoders.com/278/278448.jpg">
          <div class="container">
            <div class="carousel-caption">
              <h2>Welcome back to MeTube</h2>
              <p></p>
            </div>
          </div>
        </div>
       
      <div class="logo" style="color:white"><%=@user.name%></div> 
      <!-- Controls -->
      
    </div>
    <!-- /.carousel -->
  
</header>
  
  
<!-- Fixed navbar -->
<div class="navbar navbar-custom navbar-inverse navbar-static-top" id="nav">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav nav-justified">
          <li><a href="#section1">Home</a></li>
          <li><a href="/users/<%=@user.id%>/videos">My Videos</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Placeholder <b class="caret"></b></a>
          </li>
          <li><a href="#section4">Location</a></li>
          <li><a href="#section5">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container -->
</div><!--/.navbar -->
  
<!-- Begin page content -->

<div class="searchy">
<h2 class="sevi"> SEARCH FOR A VIDEO </h2> 
<div>
    <%= form_tag "/users/#{@user.id}/videos/search", :method => "get" do %>
      
      <div class "searchdiv"><%=text_field_tag :search, nil, class: "searchyin" %></div>
      <div class="searchsub"><%=submit_tag "Search", :name => nil, class: "searchbutton" %></div>
      <%end%>
</div>

</div>

<div class = "createa">
  <h2> ADD A VIDEO </h2>
</div>


<div>
  <%= form_tag "/users/#{@user.id}/videos", :method => "post", id: "signup" do %>
    <%=label_tag :title, nil %>
    <%=text_field_tag :title %>

    <%=label_tag :description, nil %>
    <%=text_field_tag :description %>

    <%=label_tag :youtube_id, "Youtube ID" %>
    <%=text_field_tag :youtube_id %> </br>

    <%=submit_tag "Create Video" %>
  <%end%>
</div>
  

</div>



  <!-- script references -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    
    <script>
    <%= render "landings/jstuff/bootstrap.min.js" %>
    <%= render "landings/jstuff/script.js"%>
    </script>

 
















 



<div>
 
